<div class="info-menu">
    <div class="icon-bar">
        <ng-container *ngFor="let item of config.entries; let i = index">
            <div
                class="icon-bar__item icon-bar-item"
                [class.active]="hover >= 0 && !item.disabled ? i == hover : i == active"
                [class.icon-bar__item--disabled]="item.disabled"
                (click)="menuItemClicked(i)"
                (mouseover)="menuItemHovered(i)"
                (mouseout)="menuItemHovered(-1)"
            >
                <fa name="{{item.iconId}}"></fa>
            </div>
        </ng-container>
        <div class="label-bar">
            <label
                *ngIf="hover >= 0"
                [class.label-bar--disabled]="hover >= 0 && config.entries[hover].disabled"
            >
                {{hover >= 0
                    ? config.entries[hover].label
                    : (active >= 0
                        ? config.entries[active].label
                        : config.defaultLabel
                    )
                }}
            </label>
        </div>
    </div>
</div>
