.info-menu {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.icon-bar {
    display: flex;
    flex-wrap: wrap;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 3px;

        &--disabled {
            color: grey;
        }
    }

    & div:last-child {
        flex-basis: 100%;
    }
}

.icon-bar-item {
    width: 30px;
    border: solid 1px grey;
    border-radius: 6px;
    padding: 3px;

    &.active {
        border-color: violet;
    }
}

.label-bar {
    position: relative;
    height: 20px;
    font-family: monospace;
    font-size: 20px;
    padding-top: 6px;

    & > * {
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: opacity 0.5s;
    }

    &--disabled {
        color: grey;
    }
}
