<div class="item">
    <h3 (click)="setSelected(-1)">{{item.name}}</h3>
    <app-icon-menu
        class="item__icon-menu"
        [config]="iconMenuConfig"
        [active]="selected"
        (itemClicked)="iconMenuClick($event)"
    ></app-icon-menu>

    <app-specs-list *ngIf="selected < 0" [item]="item"></app-specs-list>

    <ng-container *ngIf="selected >= 0 && iconMenuConfig.entries[selected].id as id">
        <div class="item__dropdown-container dropdown-container">
            <ng-container *ngIf="(data[id] | async) as items">
                <app-expandable-list [items]="items"></app-expandable-list>
            </ng-container>
        </div>
    </ng-container>
</div>
