* {
    box-sizing: border-box;
}

body {
    background-color: #111111;
    color: goldenrod;
}

*[ng-reflect-router-link] {
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
        transform: translateY(-3px);
    }
}
