.people-item {
    display: inline-flex;
    flex-direction: column;
    border: solid 2px gold;
    border-radius: 12px;
    padding: 6px;
    width: 100%;

    & h3 {
        text-align: center;
    }

    &__icon-menu {
        align-self: center;
    }
}
