<div class="people-item">
    <h3 (click)="setSelected(-1)">{{item.name}}</h3>
    <app-icon-menu
        class="people-item__icon-menu"
        [config]="iconMenuConfig"
        [active]="selected"
        (itemClicked)="iconMenuClick($event)"
    ></app-icon-menu>

    <app-specs-list *ngIf="selected < 0" [item]="item"></app-specs-list>

    <ng-container *ngIf="selected >= 0 && iconMenuConfig.entries[selected].label as label">
        <app-specs-list *ngIf="label === 'species'" [item]="species$ | async"></app-specs-list>
        <app-specs-list *ngIf="label === 'planets'" [item]="homeworld$ | async"></app-specs-list>
        <ng-container *ngIf="label === 'films' && (films$ | async) as films">
            <ul>
                <ng-container *ngFor="let film of films">
                    <li>{{film.title}}</li>
                </ng-container>
            </ul>
        </ng-container>
        <ng-container *ngIf="label === 'vehicles' && (vehicles$ | async) as vehicles">
            <ul>
                <ng-container *ngFor="let vehicle of vehicles">
                    <li>{{vehicle.name}}</li>
                </ng-container>
            </ul>
        </ng-container>
        <ng-container *ngIf="label === 'starships' && (starships$ | async) as starships">
            <ul>
                <ng-container *ngFor="let starship of starships">
                    <li>{{starship.name}}</li>
                </ng-container>
            </ul>
        </ng-container>
    </ng-container>
</div>
